{% extends "base.html" %}
{% block form %}
    <div class="col-sm-11 text-left"> 
      <h1>Query 2</h1>
      <h2>Given a user, retrieve all the users mentioned by the given user.</h2>
      <hr>
	    <form method="post" id="query_form" action='/q2'>	
	    	<div class="row">
				<div class="col-xs-8">	
					<div class="form-group">
						<input class="form-control customInput" type="text" placeholder="Enter Author Name" name="author_name" required>
					</div>
				</div>
				<div class="col-xs-2">
				<button class="btn btn-success" id="submit">Submit</button>
				</div>
				<button class="btn btn-warning" onclick="cleared()">Clear</button>
			</div>	
		</form>
    <br>
    {% if flag == 1 %}
    <div class="content table-responsive table-full-width" id="output">
        <table id="" class="table table-hover table-striped" border="10">
            <thead>
            <th>Users mentioned by {{ author_name }}</th>
            </thead>
            <tbody>
              {% for res in result %}
                <tr>
                {% for r in res %}
                    <td>{{ r }}</td>
                {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
        </table>
        <h3>Number of rows = {{ count }}</h3>
      </div>
     {% endif %}
   <br>

  {% endblock %}


