{% extends "base.html" %}
{% block form %}
    <div class="col-sm-11 text-left"> 
      <h1>Query 4</h1>
      <h2>Given a hashtag, retrieve the top 20 most frequently co-occurring user-
      mentions with the hashtag. A user-mention and hashtag are said to be co-
      occurring if they co-appear in the same tweet.</h2>
      <hr>
	    <form method="post" id="query_form" action='/q4'>	
	    	<div class="row">
				<div class="col-xs-8">	
					<div class="form-group">
						<input class="form-control customInput" type="text" placeholder="Enter Hashtag" name="hashtag" required>
					</div>
				</div>
				<div class="col-xs-2">
				<button class="btn btn-success" id="submit">Submit</button>
				</div>
				<button class="btn btn-warning" onclick="cleared()">Clear</button>
			</div>	
		</form>
    <br>
    {% if flag == 1 %}
    <div class="content table-responsive table-full-width" id="output">
        <table id="" class="table table-hover table-striped" border="10">
            <thead>
            <th>Co-occuring user-mention with {{ hashtag }}</th>
            <th>Frequency</th>
            </thead>
            <tbody>
              {% for res in result %}
                <tr>
                {% for r in res %}
                    <td>{{ r }}</td>
                {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
     {% endif %}
   <br>
{% endblock %}